<div class="card mt-3">
    <div class="card-header bg-primary text-white display-6">Liste des clients</div>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Identifiant</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Age</th>
                    <th>Email</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let cli of list()">
                    <td>{{cli.id}}</td>
                    <td>{{cli.nom}}</td>
                    <td>{{cli.prenom}}</td>
                    <td>{{cli.age}}</td>
                    <td>{{cli.email}}</td>
                    <td>
                        <div class="btn-group btn-group-sm">
                            <a class="btn btn-primary" (click)="edit(cli.id)"><i
                                    class="bi bi-pencil-square"></i></a>
                            <a class="btn btn-danger" (click)="delete(cli.id)"><i class="bi bi-trash"></i></a>
                        </div>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
    <div class="card-footer">
        <a class="btn btn-success btn-lg" (click)="add()"><i
            class="bi bi-plus-square"></i></a>
    </div>
</div>

<div class="card mt-3" *ngIf="client">
    <div class="card-header bg-primary text-white display-6">Edition d'un client</div>
    <div class="card-body">
        <div class="form-group">
            <label for="nom">Nom:</label> <input type="text" class="form-control" id="nom" name="nom" [(ngModel)]="client.nom" />
        </div>
        <div class="form-group">
            <label for="prenom">Prénom:</label> <input type="text" class="form-control" id="prenom" name="prenom" [(ngModel)]="client.prenom" />
        </div>
        <div class="form-group">
            <label for="age">Age:</label> <input type="number" class="form-control" id="age" name="age" [(ngModel)]="client.age" />
        </div>
        <div class="form-group">
            <label for="email">Email:</label> <input type="email" class="form-control" id="email" name="email" [(ngModel)]="client.email" />
        </div>
        <div class="form-group">
            <label for="commentaires">Commentaires:</label> <textarea rows="4" class="form-control" id="commentaires" name="commentaires" [(ngModel)]="client.commentaires"></textarea>
        </div>

    </div>
    <div class="card-footer">
        <div class="btn-group btn-group-lg float-right">
            <a class="btn btn-success" (click)="save()"><i class="bi bi-check-square-fill"></i></a>
            <a class="btn btn-warning" (click)="cancel()"><i class="bi bi-backspace-fill"></i></a>
        </div>
    </div>
</div>